/*special for Happenings section*/
.container-haps {
  width: 100%;
  height: auto;
  background-color: #424242;
  margin: 30px 0px;
  padding: 50px;
  justify-content: space-around;
}
.container-text {
  color: #ffffff;
  /* font-family: Consolas; */
  width: 100%;
  height: auto;
  font-size: 1rem;
  padding: 10px;
  margin: 0px 10px;
}
.hap-head {
  font-size: 1.5rem;
  color: #ffffff;
  /* font-family: Consolas; */
  padding: 0px;
  text-align:left;
  justify-content: space-around;
}
.dateline {
  font-size: .75rem;
  color: #ffffff;
  padding: 0%;
  text-align: left;
  justify-content: space-around;
}
.hr {
  width: 80%;
  height: 1px;
  color: #ffffff;
}
/*end Happenings section*/
/*special for Reservations section*/
.res-container {
  width: 100%;
  height: auto;
  margin: 30px 0px;
  padding: 50px;
}

.logo-container {
  height: auto;
  width: 700px;
  /* border-radius: 75px; */
  border: none;
  text-align: center;
  /* color: #4fb3bf; */
  background: transparent;
  /* margin: 30px auto 10px auto; */
}
.logo {
  font-family: 'Permanent Marker';
  font-size: 8em;
  height: 150px;
  line-height: 150px;
  white-space: nowrap;
}
.h2 {
  font-family:'Abril Fatface', cursive; serif;
  color: #e8f5e9;
  font-size: 1.75rem;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;

}
.nav-container {
  height: 50px;
  width 100%;
  text-align: center;
}
.ul {
  display: inline-block;
}
.li {
  display: inline-block;
  /**margin-right: 20px;**/
}
.navbar-inner {
  background-color:transparent;
  text-color: #333333;
}
.navbar-fixed-top {
  background-color:transparent;
  text-color: #333333;
}
.nav-item {
  display: inline-block;
  margin: 10px;
  color: #333333;
}
.nav-link {
  font-family: 'Open sans', sans-serif;
  font-size: 1.25rem;
  color: #000000;
  margin: 0 auto;
  display: inline-block;
}
.hero {
  position: relative;
  z-index: 1;
  height:900px;
  /*text-align: center;*/
  padding:40px;
  background:url("../images/hero_name.jpg") no-repeat;
  background-color: black;
  background-size: cover;
}
.content{
  margin-top:50px;
  margin-bottom:200px;
}
.about {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #e0e0e0;
  font-size: 1.25rem;
}
.about-container {
  width: 100%;
  height: auto;
  background: #424242;
  padding: 50px;
}
.about-heading {
  font-family: 'Prompt', sans-serif;
  font-size: 2rem;
  weight: 400;
  color: #ffffff;
  text-align: center;
}
.haps-container {
  width: 100%;
  height: auto;
  background-color: #424242;
  padding: 50px;
  margin: 0;
}
.happenings {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 1rem;
  text-align: left;

}
.happenings-container {
  width: 100%;
  height: auto;
  background: #424242;
  padding: 50px;
  margin: 0;
}
.row-transparent {
  background: transparent;
}
/**.subhead {
  font-family:'Abril Fatface', cursive; serif;
  color: black;
  font-size: 1.5em;
  text-align: center;
}**/
h1{
  /**margin-bottom: 20px;**/
  font-family:'Permanent Marker', cursive; sans-serif;
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: black 1px 1px 10px;
}
.full-overlay{
  position: relative;
  z-index: 1;
  height:600px;
  text-align: center;
  padding:40px;
  background:url("../images/hero-pic2.jpg") no-repeat;
  background-size: cover;
}
.full-overlay:after{
  background: rgba(0, 0, 0, 0.5);
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  }

/**.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 1.0;
    color: #black;
    background: url('../images/hero-pic2.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron {
  position:relative;padding:50px;
}
.jumbotron .container {
  z-index:2;
 position:relative;
  z-index:2;
}
.jumbo-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #4caf50;
  font-weight: 800
}**/
.body-text {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  color: #36454f;
  font-weight: 200;
  text-align: left;
}
/**.h1 {
  font-family:'Permanent Marker', cursive; sans-serif;
  color: #4caf50;
  font-size: 4em;
  text-align: center;
  }**/
.h3 {
  font-family:'Prompt', sans-serif;
  font-weight:400;
  color: #353535;
  font-size: 2rem;
  text-align: left;
  }
.jumbo-text {
  font-family:'Abril Fatface', cursive; serif;
  color: #35353;
  font-size: 1.5em;
  text-align: center;
  }
  .col {
    background-color: white;
    /**height: 250px;**/
    padding: 20px;
    /**border: 10px solid #ffffff;**/
  }
  /*.row {
    height: auto;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
  }*/
  .row-dark {
    height: auto;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
    background: #424242;
  }
  .heading {
    width: 100%;
    height: auto;
    background: transparent;
    margin: 10px;
    padding: 50px;
  }
  .caption {
    font-family:'Prompt' sans-serif;
    font-weight: 400400;
    font-size: 1.5rem;
    text-align:center;
    color: #353535;
    margin-top: 15px;
  }
  .dateline {
    font-family:'Raleway', cursive; serif;
    font-size: 1rem
    text-align:center;
    color: #ffffff;
  }
  .hour-list {

  }
  .button {
      background-color: rgba(91, 114, 9, 0.5); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
      font-family: 'Permanent Marker';
      border-radius: 25px;
      /**margin: 0 auto;**/
  }
  .res-stuff {
    padding: 30px;
    width: 100%;

  }
  .absolute {
      position: absolute;
      top: 200px;
      left: 40%;
      width: 325px;
      height: 125px;
    }
  .footer {
    width: 100%;
    background: #424242;
    /*margin-top: 30px;*/
    padding: 30px;
    height: auto;
  }
  /* .footer-heading { */
    /* font-family:'Permanent Marker', cursive; sans-serif; */
    /* font-size: 2em; */
    /* text-align: center; */
    /* color: #ffffff; */
  }
  .footer-text {
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #e0e0e0;
  }
  /* .email-text {
    text-align: center;
    font-size: .75em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #e8f5e9;
  } */
  .footer-text:hover {
    font: #ffffff;
  }
  .copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem
    font-weight: 800;
    font-color: #e0e0e0;
    text-align: center;
  }
  .icon-container {
    height: auto;
    width: 50%;
    text-align:center;
    margin: 0 auto;
    display: inline;
}
.social-media-container {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    display: inline-flex;
    padding-top: 30px;
}
.social-media-link {
    text-decoration: none;
    font-size: 45px;
    color: #e0e0e0;
    padding: 0px 7px;
}
.social-media-link:hover {
    color: #ffffff;
    text-decoration: underline;
}
.contact-container {
  text-align: center;
  width: 100%;
  height: 75px;
  margin-top: 20px;
}
.ul {
    text-align: center;
  }
.list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
  }
a:link {
  color: #e0e0e0;
}
a:hover {
  color: #ffffff;
}
.scrollLink {

}

.navbar-light {
  /**background-color: rgb(0, 131, 143);**/
  margin-top: 20px;
}


nav ul li a {
  color: white;
}

nav ul li:hover {
  /*background-color: white;*/
  color: #353535
}

/**.nav-item {
    display: inline-block;
    margin: 0 10px;
    padding: 0px 35px;
    background-color: white;
    border: 6px solid cadetblue;
}
.nav-item:hover {
  background-color: rgb(0, 131, 143);
  color: #414141;
}
.nav-item:hover a{
  color: white!important;
}**/

.container-fluid {
      padding: 0;
}

.no-pad {
  padding: 0;
}
@media only screen and (max-width: 768px){
  .navbar-nav: Menu-hamburger icon: <span class="glyphicon glyphicon-menu-hamburger"></span>
}
}
