/* body, html {
    height: 100%;
} */

/*Nav section*/

.navigation {
  list-style: none;
  margin: 0;
  padding-right: .1rem;


  background: #212121;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation a {
  text-decoration: none;
  display: block;
  font-family: "Prompt" sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 1rem;
  color: #757575;
  font-size: 1rem;
}
.navigation a:hover {
  background: darken(#212121,40%);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/*Hero section*/
.hero-container {
  width: 100%;
  height: auto;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

/*Invisible H1*/

.h1-container {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin: 0px;
}
.h1 {
  font: 1rem 'Prompt', sans-serif;
  color: #f5f5f5;
}

/*begin About section*/

.about {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #424242;
  font-size: 1.25rem;
}
.about-container {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 0% 10% 5% 10%;
  margin-top: 0px;
}
.about-heading {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  weight: 100;
  line-height: 90%;
  color: #9e9e9e;
  text-align: center;
}

/*begin Food Photos section*/


.food-pics-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0% 10% 5% 10%;
}
.row-food {
  align-content: center;
}
.col-food {
  width: 100%;
  height: auto;
  text: center;
  display: inline;
}
.item {
  height: auto;
  width: 100%;
  margin: 5px 0px;
}

/*Begin Menu section*/

.menu-container {
  width: 100%;
  height: auto;
  background: url("../images/wine-corks.jpg") center center;
  background-size: cover;
}
.row-menu {
  width: 100%;
  height: auto;
  padding: 15% 5%;
}
.caption {
  font-family:'Prompt' sans-serif;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 8px;
  text-align:center;
  color: #ffffff;
  margin-top: 50px;
}
.sub-caption {
  font-family:'Prompt' sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 4px;
  text-align:center;
  color: #ffffff;
  margin-top: 20px;
}
.specials-caption {
  text-align:center;
  margin-top: 20px;
}
.col-menu {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}


/*begin Happenings section*/

.container-haps {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  margin: 0px;
  padding: 5% 5% 0% 5%;
}
.h3-haps {
  font-family:'Prompt', sans-serif;
  font-weight:100;
  color: #353535;
  font-size: 2rem;
  letter-spacing: 8px;
  text-align: left;
  margin-bottom: 0rem;
  }
.col-haps {
  width: 100%;
  max-width: 355px;
  height: auto;
  text-align: left;
}
.body-text {
  font-family: 'Prompt', sans-serif;
  font-size: 1.25rem;
  color: #353535;
  font-weight: 200;
  text-align: left;
  margin-top: 0rem;
}
.hap-image {
  width: 100%;
  height: auto;
  margin: 20px 0px;
}
.heading-container{
  height: 100px;
  width: auto;
  margin-top: 50px;
}
.hap-head {
  font-family: 'Prompt', sans-serif;
  font-size: 1.25rem;
  line-height: 100%;
  color: #353535;
  padding-top: 20px;
  text-align:left;
  margin-bottom: 0.5rem;
}
.dateline {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  line-height: 100%;
  color: #000000;
  padding: 0%;
  text-align: left;
  margin-bottom: 0rem;
}
.hr {
  width: 100%;
  max-width: 350px;
  height: 1px;
  color: #353535;
}

/*begin Reservations section*/

.res-container {
  width: 100%;
  height: auto;
  padding: 5% 10%;
  background-color: #f5f5f5;
  /* margin-bottom: 15px; */
}
.col-map {
  height: 525px;
  width: auto;
  text-align: center;
  margin-bottom: 1.5rem;
  display: inline;
}
.col-hours {
  height: 450px;
  width: 100%;
  align-content: center;
  text-align: center;
  display:inline;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.res-text {
  font-family: 'Prompt', sans-serif;
  font-size: 1.25rem;
  color: #353535;
  font-weight: 200;
  text-align: center;
  margin-top: 0rem;
}
.h3 {
  font-family:'Prompt', sans-serif;
  font-weight:100;
  color: #353535;
  font-size: 1.8rem;
  letter-spacing: 7px;
  text-align: center;
  margin-bottom: 0rem;
  }

/*begin footer section*/

.footer {
  width: 100%;
  background: #212121;
  padding: 10px;
  height: auto;
  margin-top: 0px;
}
.footer-text {
  text-align: center;
  font-size: .75rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: #e0e0e0;
  text-decoration: none;
}
.footer-text:hover {
  font: #ffffff;
}
.social-media-container {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    display: inline-flex;
    padding-top: 5px;
}
.social-media-link {
    text-decoration: none;
    font-size: 45px;
    color: #e0e0e0;
    padding: 0px 7px;
}
.social-media-link:hover {
    color: #ffffff;
    text-decoration: underline;
}
.contact-container {
  text-align: center;
  width: 100%;
  height: 75px;
  margin-top: 20px;
}
.ul {
    text-align: center;
  }
.list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
  }
  /* .link-color {
    color: #212121; */
  }
a:link {
  color: #e0e0e0;
}
a:hover {
  color: #ffffff;
}
a.class2 {color: #212121;}
a.class2:link  {text-decoration: none; color: #212121;}
a.class2:hover  {text-decoration: none; color: #ffffff;}
a.class2:visited {text-decoration: none; color: #212121;}

a[href^=tel] { color: inherit; text-decoration: none;
}
a[href^=mailto] { color: inherit; text-decoration: none;
}


.container-fluid {
      padding: 0;
      background-color: #f5f5f5;
}
.no-pad {
  padding: 0;
}
