/*NEW Nav section*/

/* @import "compass/css3"; */

.navigation {
  list-style: none;
  margin: 0;

  background: #757575;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #f5f5f5;
}
.navigation a:hover {
  background: darken(#757575,40%);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/*NEW Hero section*/
.hero-container {
  width: 100%;
  height: auto;
  /* background: cover 100% 100%; */
  /* padding: 0px; */
  /* margin-bottom: 10px; */
}


/*OLD hero section*/
/* .hero {
  position: relative;
  z-index: 1;
  height: 80vh;
  width: auto;
  background:url("../images/hero_logo.jpg") no-repeat center center;
  background-size: cover;
  image: img-fluid;

}
.nav-container {
  height: 50px;
  width 100%;
  text-align: center;
}
.ul {
  display: inline-block;
  list-style: none;
}
.li {
  display: inline-block;
  margin-right: 20px;
}
.nav-item {
  display: inline-block;
  margin: 10px;
  color: #333333;
  text-align: right;Ó
}
.nav-link {
  font-family: 'Open sans', sans-serif;
  font-size: 1.25rem;
  color: #000000;
  margin: 0 auto;
  display: inline-block;
} */

/*Invisible H1*/

.h1-container {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin: 0px;
}
.h1 {
  font: 1rem 'Prompt', sans-serif;
  color: #f5f5f5;
}

/*begin About section*/

.about {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #424242;
  font-size: 1.25rem;
}
.about-container {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 0% 10% 5% 10%;
  margin-top: 0px;
}
.about-heading {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  weight: 100;
  line-height: 90%;
  color: #9e9e9e;
  text-align: center;
}

/*begin Food Photos section*/


.food-pics-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0% 10% 5% 10%;
}
.row-food {
  align-content: center;
}
/* .row-food {
  padding: 5%;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-content: center; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.col-food {
  width: 100%;
  height: auto;
  text: center;
  display: inline;
  /* text-align: center; */
  /* display: inline-block; */
  /* margin: 0 auto; */
}
.item {
  height: auto;
  width: 100%;
  margin: 5px 0px;
  /* max-width: 350px; */

  /* display: flex; */
  /* margin: 10px 0px; */
  /* flex-grow: 1; */
}

/*Begin Menu section*/
.menu-container {
  /* padding: 50px; */
  width: 100%
  height: auto;
  background: url("../images/wine-corks.jpg") center center;
  background-size: cover;
}
.row-menu {
  width: 100%;
  height: auto;
  padding: 15% 5%;
}
.caption {
  font-family:'Prompt' sans-serif;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 8px;
  text-align:center;
  color: #ffffff;
  margin-top: 50px;
}
.col-menu {
  width: 100%;
  height: auto;
  text-align: center;
  /* margin-bottom: 30px; */
  display: inline-block;
  /* padding-top: 40px 40px; */
}


/*begin Happenings section*/

.container-haps {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  margin: 0px;
  padding: 5%;
}
.col-haps {
  width: 100%;
  max-width: 355px;
  height: auto;
  text-align: left;

}
.hap-image {
  width: 100%;
  height: auto;
  margin: 20px 0px;
}
.heading-container{
  height: 100px;
  width: auto;
  margin-top: 50px;
}
.hap-head {
  font-family: 'Prompt', sans-serif;
  font-size: 1.25rem;
  line-height: 80%;
  color: #353535;
  padding-top: 20px;
  text-align:left;
}
.dateline {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
  padding: 0%;
  text-align: left;
  /* justify-content: space-around; */
}
.hr {
  width: 100%;
  height: 1px;
  color: #353535;
}

/*begin Reservations section*/

.res-container {
  width: 100%;
  height: auto;
  /* margin: 30px 0px; */
  padding: 5%;
  background-color: #f5f5f5;
}
.col-map {
  height: 480px;
  width: auto;
  max-width: 350px;
  margin: 20px 0px;
  padding: 2%;
  border: solid 0.5px #9e9e9e;
  border-radius: 10px;
  align-content: center;
}
.col-hours {
  height: 480px;
  width: auto;
  max-width: 350px;
  margin: 20px 0px;
  padding: 2%;
  text-align: left;
}
.body-text {
  font-family: 'Prompt', sans-serif;
  font-size: 1.25rem;
  color: #353535;
  font-weight: 200;
  text-align: left;
}
.h3 {
  font-family:'Prompt', sans-serif;
  font-weight:100;
  color: #353535;
  font-size: 2rem;
  letter-spacing: 8px;
  text-align: left;
  }

/*begin footer section*/

.footer {
  width: 100%;
  background: #757575;
  /*margin-top: 30px;*/
  padding: 30px;
  height: auto;
}
.footer-text {
  text-align: center;
  font-size: 1rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: #e0e0e0;
}
.footer-text:hover {
  font: #ffffff;
}
.social-media-container {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    display: inline-flex;
    padding-top: 30px;
}
.social-media-link {
    text-decoration: none;
    font-size: 45px;
    color: #e0e0e0;
    padding: 0px 7px;
}
.social-media-link:hover {
    color: #ffffff;
    text-decoration: underline;
}
.contact-container {
  text-align: center;
  width: 100%;
  height: 75px;
  margin-top: 20px;
}
.ul {
    text-align: center;
  }
.list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
  }
a:link {
  color: #e0e0e0;
}
a:hover {
  color: #ffffff;
}
.container-fluid {
      padding: 0;
      background-color: #f5f5f5;
}
.no-pad {
  padding: 0;
}



  /* .row-white {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 20px 0px;
  } */
  /* .row-dark {
    height: auto;
    width: 100%;
    padding: 50px;
    background: #616161;
    margin-top: 50px;
  } */
/*.full-overlay{
  position: relative;
  z-index: 1;
  height:600px;
  text-align: center;
  padding:40px;
  background:url("../images/hero-pic2.jpg") no-repeat;
  background-size: cover;
}
.full-overlay:after{
  background: rgba(0, 0, 0, 0.5);
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  }
*/
/**.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 1.0;
    color: #black;
    background: url('../images/hero-pic2.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron {
  position:relative;padding:50px;
}
.jumbotron .container {
  z-index:2;
 position:relative;
  z-index:2;
}
.jumbo-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #4caf50;
  font-weight: 800
}**/


  /* .absolute {
      position: absolute;
      top: 200px;
      left: 40%;
      width: 325px;
      height: 125px;
    } */



/* .scrollLink { */

}
/* nav ul li a {
  color: white; */
}

/* nav ul li:hover {
  background-color: white;
  color: #353535
}*/

/**.nav-item {
    display: inline-block;
    margin: 0 10px;
    padding: 0px 35px;
    background-color: white;
    border: 6px solid cadetblue;
}
.nav-item:hover {
  background-color: rgb(0, 131, 143);
  color: #414141;
}
.nav-item:hover a{
  color: white!important;
}**/


}
/*@media only screen and (max-width: 768px){
  .navbar-nav: Menu-hamburger icon: <span class="glyphicon glyphicon-menu-hamburger"></span>
}*/
